# Dados sobre os clubes nesse período da Libertadores.

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("libertadores-results-ds.csv")
df.head()

,Edition,Round,Date,Home Club,Away Club,Home Score,AwayScore
0,2023,Final,4/11/2023,Fluminense FC,Boca Juniors,2,1
1,2023,Semifinal,6/10/2023,Palmeiras,Boca Juniors,1,1
2,2023,Semifinal,5/10/2023,Internacional,Fluminense FC,1,2
3,2023,Semifinal,29/09/2023,Boca Juniors,Palmeiras,0,0
4,2023,Semifinal,28/09/2023,Fluminense FC,Internacional,2,2

# Vendo a quantidade total de jogos do dataset

In [7]:
len(df)

1954

# Vendo a quantidade diferente de times no data set

In [8]:
# Contagem de times diferentes no dataset
# Um time joga no MINIMO 1 jogo em casa, por isso pode usar essa coluna
df['Home Club'].nunique()

132

# Vendo times com mais jogos

In [9]:
df['Home Club'].value_counts()

Home Club
River Plate            62
Boca Juniors           57
Nacional               54
Palmeiras              54
Atlético Mineiro       54
                       ..
Deportivo Petare        1
Everton CD              1
Deportivo Capiatá       1
Club Puebla             1
Sportivo Trinidense     1
Name: count, Length: 132, dtype: int64

# Se a Libertadores fosse pontos corridos?
### Temos esse esquema no Campeonato Paulista, onde mesmo que há a divisão dos grupos e posteriormente a fase mata-mata, há uma tabela de classificação geral
### Vou recriar essa ideia, agora na Copa Libertadores
### Será por separado por ANO

In [47]:
def statusMandante(dfAno):
    
    dfAno = dfAno.copy()  # evita warning ao criar colunas

    # Vitória mandante (True/False)
    dfAno['Vitória Casa'] = dfAno['Home Score'] > dfAno['AwayScore']

    # Empate
    dfAno['Empate'] = dfAno['Home Score'] == dfAno['AwayScore']

    # Derrota mandante 
    dfAno['Derrota Casa'] = dfAno['Home Score'] < dfAno['AwayScore']

    statusMandante = dfAno.groupby('Home Club').agg({
        'Vitória Casa': 'sum',
        'Derrota Casa': 'sum',
        'Empate': 'sum',
        'Home Score': 'sum',
        'AwayScore': 'sum',
        'Home Club': 'count'  # quantidade de jogos em casa
    }).rename(columns={
        'Vitória Casa': 'Vitórias',
        'Derrota Casa': 'Derrotas',
        'Empate': 'Empates',
        'Home Score': 'Gols Pró',
        'AwayScore': 'Gols Sofridos',
        'Home Club': 'Jogos'
    })

    return statusMandante

In [48]:
def statusVisitante(dfAno):

    dfAno = dfAno.copy()  # evita warning ao criar colunas

    dfAno['Vitória Visitante'] = dfAno['Home Score'] < dfAno['AwayScore']
    dfAno['Derrota Visitante'] = dfAno['Home Score'] > dfAno['AwayScore']
    dfAno['Empate'] = dfAno['Home Score'] == dfAno['AwayScore']

    statusVisitante = dfAno.groupby('Away Club').agg({
        'Vitória Visitante': 'sum',
        'Derrota Visitante': 'sum',
        'Empate': 'sum',
        'Home Score': 'sum',
        'AwayScore': 'sum',
        'Away Club': 'count' 
    }).rename(columns={
        'Vitória Visitante': 'Vitórias',
        'Derrota Visitante': 'Derrotas',
        'Empate': 'Empates',
        'Home Score': 'Gols Pró',
        'AwayScore': 'Gols Sofridos',
        'Away Club': 'Jogos'
    })

    return statusVisitante

In [ ]:
def criarTabelaClassificacao(df, ano):
    anoTabela = df[df['Edition'] == ano]

    tabelaMandantes = statusMandante(anoTabela)
    tabelaVisitantes = statusVisitante(anoTabela)

    # Concatena as tabelas de mandantes e visitantes para ter todos os dados em uma única tabela
    # Agrupa os dados por time (index) e soma os valores para ter o total de cada estatística
    tabelaGeral = pd.concat([tabelaMandantes, tabelaVisitantes])
    tabelaGeral = tabelaGeral.groupby(tabelaGeral.index).sum()

    tabelaGeral['Saldos Gols'] = tabelaGeral['Gols Pró'] - tabelaGeral['Gols Sofridos']
    tabelaGeral['Pontos'] = tabelaGeral['Vitórias'] * 3 + tabelaGeral['Empates']
    tabelaGeral['Aproveitamento'] = tabelaGeral['Pontos'] / (tabelaGeral['Jogos'] * 3) * 100
    tabelaGeral['Aproveitamento'] = tabelaGeral['Aproveitamento'].round(2)
    tabelaGeral = tabelaGeral.sort_values(by='Pontos', ascending=False).reset_index()
    tabelaGeral = tabelaGeral.rename(columns={'index': 'Clube'})
    
    return tabelaGeral

criarTabelaClassificacao(df, 2012)

,Clube,Vitórias,Derrotas,Empates,Gols Pró,Gols Sofridos,Jogos,Saldos Gols,Pontos,Aproveitamento
0,Corinthians,8,0,6,19,7,14,12,30,71.43
1,Boca Juniors,8,2,4,17,12,14,5,28,66.67
2,Libertad,6,2,4,21,11,12,10,22,61.11
3,Fluminense FC,6,2,2,8,9,10,-1,20,66.67
4,Santos FC,6,4,2,24,9,12,15,20,55.56
5,Universidad de Chile,5,3,4,26,8,12,18,19,52.78
6,Vélez Sarsfield,6,3,1,11,10,10,1,19,63.33
7,Vasco da Gama,5,3,2,13,10,10,3,17,56.67
8,Unión Española,4,4,2,17,13,10,4,14,46.67
9,Internacional,3,3,4,18,6,10,12,13,43.33
10,Bolívar,4,3,1,19,8,8,11,13,54.17
11,Lanús,4,3,1,17,6,8,11,13,54.17
12,Deportivo Quito,4,3,1,24,2,8,22,13,54.17
13,Atlético Nacional,3,2,3,14,13,8,1,12,50.00
14,Cruz Azul,3,2,3,14,5,8,9,12,50.00
15,Flamengo,3,3,2,18,9,8,9,11,45.83
16,Arsenal de Sarandí,3,4,1,12,6,8,6,10,41.67
17,Emelec,3,4,1,11,7,8,4,10,41.67
18,Defensor Sporting,3,3,0,7,6,6,1,9,50.00
19,Peñarol,2,4,2,16,9,8,7,8,33.33
20,Olimpia,2,3,1,17,9,6,8,7,38.89
21,Junior FC,2,3,1,11,5,6,6,7,38.89
22,The Strongest,2,3,1,13,3,6,10,7,38.89
23,Universidad Católica,1,2,3,12,5,6,7,6,33.33
24,Juan Aurich,2,4,0,9,4,6,5,6,33.33
25,Nacional,2,4,0,6,6,6,0,6,33.33
26,Godoy Cruz Antonio Tomba,1,3,2,16,10,6,6,5,27.78
27,Guadalajara,1,4,1,11,3,6,8,4,22.22
28,Nacional Asunción,1,4,1,11,8,6,3,4,22.22
29,Alianza Lima,1,5,0,11,7,6,4,3,16.67
30,El Nacional,1,1,0,5,1,2,4,3,50.00
31,Deportivo Táchira,0,3,3,15,4,6,11,3,16.67
32,Real Potosí,1,1,0,4,1,2,3,3,50.00
33,Caracas,0,1,1,5,1,2,4,1,16.67
34,Sport Huancayo,0,1,1,4,1,2,3,1,16.67
35,Once Caldas,0,1,1,3,2,2,1,1,16.67
36,Tigres UANL,0,1,1,3,2,2,1,1,16.67
37,Zamora FC,0,5,1,6,2,6,4,1,5.56